{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMO</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}"
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="logo">
  	   <p>BMO</p>
    <div id="searchBar">
      <input id="search" type="text" placeholder="" onfocus="this.value=''" autofocus="autofocus">
    </div>
  </body>
  <script src="{% static 'home/js/searchBar.js' %}"></script>
</html>
